<%- include('../partials/header') %>

<h1>Blog</h1>

<a href="/sneakers/new">Add Sneakers</a>

<% if (user) { %>
    <form id="add-review-form" method="POST"
      action="/sneakers/blog">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
  <% } %>

  <button action="/sneakers/details">details</button>

<%- include('../partials/footer') %>