<%- include('../partials/header') %>

<h1>Blog</h1>

<a href="/sneakers/new">Add Sneakers</a>

<form action="sneakers/details" Method="POST">
    <button>details</button>
</form>


<%- include('../partials/footer') %>