<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<section>
<h1>Previously Released:</h1>
<hr>
<h2>
<div class="row">
<div class="column">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/010/222/921/original/144690_01.jpg.jpeg?action=crop&width=2000"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/487/311/original/136666_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/012/739/728/original/13786_01.jpg.jpeg?action=crop&width=950"class="shoe">
<div class="column">
</div>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/011/118/690/original/14863_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/018/783/118/original/488879_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/487/268/original/13578_01.jpg.jpeg?action=crop&width=950"class="shoe">
<div class="column">
</div>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/043/946/221/original/567948_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/035/766/949/original/519961_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/011/254/332/original/13696_01.jpg.jpeg?action=crop&width=950"class="shoe">
<div class="column">
</div>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/488/331/original/14957_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/492/009/original/76257_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/491/643/original/64796_01.jpg.jpeg?action=crop&width=950"class="shoe">
<div class="column">
</div>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/032/436/970/original/496584_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/072/682/080/original/895937_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/063/541/142/original/849383_01.jpg.jpeg?action=crop&width=950"class="shoe">
<div class="column">
</div>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/049/887/653/original/599627_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/049/070/784/original/602213_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/025/302/850/original/482560_01.jpg.jpeg?action=crop&width=950"class="shoe">
<div class="column">
</div>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/036/301/423/original/517360_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/046/085/372/original/14741_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/052/323/843/original/14021_01.jpg.jpeg?action=crop&width=950"class="shoe">
</div>
</div>
</h2>
</section>
<%- include('../partials/footer') %>