<%- include('../partials/header') %>
<section>
<h1>Just Released:</h1>
<h2>
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/010/222/921/original/144690_01.jpg.jpeg?action=crop&width=2000"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/487/311/original/136666_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/012/739/728/original/13786_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/011/118/690/original/14863_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/018/783/118/original/488879_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/487/268/original/13578_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/043/946/221/original/567948_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/035/766/949/original/519961_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/011/254/332/original/13696_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/488/331/original/14957_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/492/009/original/76257_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/008/491/643/original/64796_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/032/436/970/original/496584_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/072/682/080/original/895937_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/063/541/142/original/849383_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/049/887/653/original/599627_01.jpg.jpeg?action=crop&width=950"class="shoe">
<img src="https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/049/070/784/original/602213_01.jpg.jpeg?action=crop&width=950"class="shoe">

</h2>
<h3>
  test 5/26/2020
</h3>
</section>
<%- include('../partials/footer') %>